$contentBackground: #20232E;
$fontFamily: 'Hind', sans-serif;
$fontChange: 'Fresca', sans-serif;
$backImage: url(../img/m-h-night.jpg);
$sectionBackground: #20232E;
$headerTextColor: #FFFFFF;
$afterTextColor: #FF4E33;
$sectionTextColor: #FFFFFF;
$sectionCardBackColor: #3B3F50;
$footerWrapBackColor: #3B3F50;
$sectionBannerGradient: linear-gradient(to right,
  #DEA505,
  #953150);
$buttonBackColor: #E3AC01;
$buttonColor: white;
$sectionBannerButtonColor: #E3AC01;
