$contentBackground: white;
$fontFamily: 'Hind', sans-serif;
$fontChange: 'Hind', sans-serif;
$backImage: url(../img/m-h-day.jpg);
$sectionBackground: white;
$headerTextColor: #342F3C;
$afterTextColor: #14a0c7;
$sectionTextColor: #2C2F3C;
$sectionCardBackColor: #20232E;
$footerWrapBackColor: #20232E;
$sectionBannerGradient: linear-gradient(to right,
  #679706,
  #305ECC);
$buttonBackColor: #699900;
$buttonColor: white;
$sectionBannerButtonColor: #699900;
